body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    width: 1100px;
    border: 1px solid black; 
}

#container{
    margin: 0px auto;
}

header{
    background: goldenrod;
    height: 100px;
    margin: 0px;
    text-align: center;
    line-height: 100px;

}

#img{
    text-align: center;
    margin: 0px;
}
